Source: oslo-log
Maintainer: OpenStack <openstack-dev@lists.openstack.org>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-oslo.log
Architecture: all
Depends:
Description: oslo.log library
 ================================
 oslo.log -- Oslo Logging Library
 ================================
 .
 OpenStack logging configuration library provides standardized configuration for
 all openstack projects. It also provides custom formatters, handlers and
 support for context specific logging (like resource id's etc).
 .
 * Free software: Apache license
 * Documentation: http://docs.openstack.org/developer/oslo.log
 * Source: http://git.openstack.org/cgit/openstack/oslo.log
 * Bugs: http://bugs.launchpad.net/oslo.log
 .
 .
